{#
This file is Customised
#}
<script type="text/javascript">
    $(function(){
        $(".questionnairelist").each(function(){
            var listLenght = $(this).find("dl").length;
            if(listLenght>5){
                $(this).find("dl:gt(4)").each(function(){$(this).hide();});
                $(this).append('<p class="questionnaire_more"><a id="questionnaire_readmore">» もっと見る</a></p>');
                var dispNum = 5;
                $(this).find("#questionnaire_readmore").click(function(){
                    dispNum +=5;
                    $(this).parents(".questionnairelist").find("dl:lt("+dispNum+")").show(400);
                    if (dispNum>=listLenght) {
                        $(this).hide();
                    }
                })
            }
        });
    });
</script>
<div id="questionnaire_area" class="row">
{% if QuestionnaireList %}
    <div class="category_header col-xs-12">
        <h2 class="heading01">アンケート</h2>
    </div>
    <div class="accordion col-xs-12">
        <div class="questionnairelist">
            {% for Questionnaire in QuestionnaireList %}
                <dl>
                    <dt>
                        <span class="date">
                            {% if Questionnaire.application_period_from and Questionnaire.application_period_to %}
                                {{ Questionnaire.application_period_from|date("Y/m/d") }}～{{ Questionnaire.application_period_to|date("Y/m/d") }}
                            {% elseif Questionnaire.application_period_from %}
                                {{ Questionnaire.application_period_from|date("Y/m/d") }}～
                            {% elseif Questionnaire.application_period_to %}
                                ～{{ Questionnaire.application_period_to|date("Y/m/d") }}
                            {% else %}
                                (回答期限なし)
                            {% endif %}
                        </span>
                        <span class="questionnaire_title">
                            {{ Questionnaire.name }}
                        </span>
                        <span class="angle-circle">
                            <svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg>
                        </span>
                    </dt>
                    <dd>
                        <span style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><a href="{{ url('questionnaire', {'id': Questionnaire.id}) }}">回答はこちらから</a></span>
                    </dd>
                </dl>
            {% endfor %}
        </div><!--/questionnairelist-->
    </div><!--/accordion-->
{% endif %}
</div><!--/questionnaire_area-->
